[alias]
    logline = log --graph --pretty=format:'%C(bold cyan)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    stt = status
    co = checkout
    branches = branch --all
    cof = !git branch --all | fzf | xargs git checkout
